
.divcabecera{
  border-bottom: 1px solid black;
  background-color:#CDCDCD;
  width: 100%;
  font-size :16px;
  padding-top: 5px;
}
.lblcabecera{
font-size: 16px;
color: black;
padding-left: 5px;
}
.buttons{
  border: 1px solid ;
  border-color: #029ed9;
  border-radius: 10px;
  }
  .buttons:hover {
    border: 1px solid ;
    border-color: CDCDCD;
    border-radius: 10px;
    background-color: #029ed9;
    color: white;
}
.input {
  width: 95%;
}

.divContBitacora{
  width :98%;
  max-width: 100%; 
  max-height: 500px; 
  overflow: auto;
  border-radius: 6px;
}

.divContPost{
  background-color:white;
  width: 100%;
  border-radius: 6px;
}

.tblPost{
  width: 100%;
  background-color:#029ed9;
  border-radius: 6px;
}

.tblPostTh{

  font-size: 15px;  
  background-color: #029ed9;
  font-size: 14px;
  color: white;
}

.tblPostTr
{
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color:white;
}

.txtBitDesc{
  width: 100%;
  text-align: justify;
  }

.tblPostTrSep{

  padding-top: 12px;
  padding-bottom: 12px;
  background-color:#CDCDCD;
}

.divPostTrSep
{
  width: 100%;
  height: 5px;
  background-color:#CDCDCD;
}

.txtBitacora{
  
  padding-left: 20px;
  font-size: 14px; 
}
.tblLeido
{
  background:#286DA8;
  padding-top: 0px;
  font-size: 11px;
  color: white;
  padding-bottom: 0px;
  padding-left: 10px;
  width: 100%; 
}

.tblNoLeido{
  background: #438496;
  color: white;
  font-size: 11px;
  color: white;
  padding-bottom: 0px;
  padding-left: 10px;
  width: 100%; 
}

.divContBitacora::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
}

.divContBitacora::-webkit-scrollbar-thumb {
  background:#D9B310;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.divContBitacora::-webkit-scrollbar-thumb:hover {
  background: #F7C331;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.divContBitacora::-webkit-scrollbar-thumb:active {
  background-color: #FFCE00;
}

.divLoad{
  width: 100px;
  height: 100px;
  }