/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.blue-snackbar {
    background-color:  #86c7eb;
    color: black;
  }

  .dialog-backdrop{
    backdrop-filter: blur(5px) contrast(.8);

  }
  .red-snackbar
  {
    background-color: #cb3015;
    color: white;
    align-content: center;

  }
  
  body{
    background-color:#CDCDCD;
  }
  

body::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
  
}

body::-webkit-scrollbar-thumb {
  background:#D9B310;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
  background: #F7C331;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
  background-color: #FFCE00;
}


.dialog-load{
  backdrop-filter: blur(5px) contrast(.8);
  }
